<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CryptoServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60670/CryptoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CryptoServiceSoap"
                contract="CryptoServiceReference.CryptoServiceSoap" name="CryptoServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>