<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60670/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceReference.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>