<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICyptoWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13044/CyptoWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICyptoWCFService"
                contract="CyptoWCFServiceReference.ICyptoWCFService" name="BasicHttpBinding_ICyptoWCFService" />
        </client>
    </system.serviceModel>
</configuration>